{% extends "base.html" %}

{% block css %}
{%style "/css/driverView.css" %}
{% endblock css %}

{% block page %}
{% if vehicle %}
<div id="box">
    <div>
        <p id="prompt">Hey, a customer wants to ride with you.</p>
    </div>

    <div id="details">
        <i id="profile" class="fa fa-user fa-5x"></i>
        <h1 id="name">Name</h1>
        <div>
            <h1 id="price">K57.00</h1>
            <h1 id="distance">2.3km</h1>
        </div>
    </div>

    <div id="locationDetails">
        <i id="start-location" class="fa fa-circle"> Pickup location</i>
        <P>This is where I am</P>

        <i id="destination" class="fa fa-map-marker icon fa-1x"> Drop location</i>
        <p>This is where I want to go.</p>
    </div>

    <div id="Buttons">
        <button id="declineButton">DECLINE</button>
        <button id="acceptButton">ACCEPT</button>
    </div>
</div>

{%else%}
<div class="container">
    <h4 class="text-center mt-5">Add your vehicle details</h4>
    <form action="/add-vehicle" method="post" style="width:90%;max-width:380px;gap:2rem"
        class="mx-auto mt-4 mt-4 p-4 py-2 d-flex flex-column">
        {% csrf-field %}
        <input type="hidden" name="driver" value="{{user.id}}">
        
        <label>Plate No.:
            <div class="form-group">
                <input name="number_plate" type="text" class="form-control form-control-sm" required>
            </div>
        </label>
        <label>Model:
            <div class="form-group">
                <input name="model" type="text" class="form-control form-control-sm" required>
            </div>
        </label>
        <label>Color
            <div class="form-group">
                <input type="text" name="color" class="form-control form-control-sm" required>
            </div>
        </label>

        <div class="my-3">
            <label>Vehicle type

                <select name="type" required class="form-select">
                    <option value="">Pick an option</option>
                    <option value="Sedan">Sedan</option>
                    <option value="SUV">SUV</option>
                    <option value="Salon">Salon</option>
                </select>
            </label>
        </div>
        <div class="py-3"><input type="submit" value="Add Vehicle" class="btn btn-primary"></div>
    </form>
</div>
{% endif %}

{% endblock page %}