{% extends "base.html" %}

{% block css %}
{%style "/css/driverView.css" %}
{% endblock css %}

{% block page %}

<div id="box">
    <div>
        <p id="prompt">Hey, a customer wants to ride with you.</p>
    </div>

    <div id="details">
        <i id="profile" class="fa fa-user fa-5x"></i>
        <h1 id="name">Name</h1>
        <div>
            <h1 id="price">K57.00</h1>
            <h1 id="distance">2.3km</h1>
        </div>
    </div>

    <div id="locationDetails">
        <i id="start-location" class="fa fa-circle"> Pickup location</i>
        <P>This is where I am</P>

        <i id="destination" class="fa fa-map-marker icon fa-1x"> Drop location</i>
        <p>This is where I want to go.</p>
    </div>

    <div id="Buttons">
        <button id="declineButton">DECLINE</button>
        <button id="acceptButton">ACCEPT</button>
    </div>
</div>
{% endblock page %}