{% extends "base.html" %}

{% block css %}
{%style "/css/order.css" %}
{% endblock css %}

{% block page %}

<div id="map">
    <img src="./images/map.jpg" />
</div>

<div class="orderBox">
    <div class="words">
        <div class="tags">
            <h1>Price</h1>
            <h1 id="Price">K57.00</h1>
        </div>

    </div>
    <div class="inputs">
        <div class="inputBoxes">
            <i id="start-location" class="fa fa-circle"></i>
            <input class="box" type="text" placeholder="Pick current location" />
        </div>
        <div class="inputBoxes">
            <i id="destination" class="fa fa-map-marker icon"></i>
            <input class="box" type="text" placeholder="Pick destination" />
        </div>
    </div>

    <button id="orderButton">ORDER</button>
</div>
{% endblock page %}